fastapi
uvicorn
pydantic
numpy
psutil
python-dotenv
pycryptodome
python-jose
passlib
slowapi
requests
shodan
virustotal-api
matplotlib
scipy
scikit-learn
pandas
networkx
pyyaml
prometheus-client
routeros_api
aya
tss-esapi
scapy
dnslib
boto3
pyad
ldap3
mnemonic
pyinstaller
cryptography
opencv-python
pyaudio
psutil
flask
pyopenssl
pyTelegramBotAPI
telebot
setproctitle
ffmpeg-python
SpeechRecognition
PyAudio
pocketsphinx
